body {
  margin: 0 auto;
  font-size: 14px;
  font-family: "Segoe UI", Helvetica, Arial, sans-serif;
}
/* "Segoe UI",Roboto,Helvetica,Arial,sans-serif; */
.post-list {
  width: 70%;
  margin: 0 auto;
}

* {
  box-sizing: border-box;
}
