body {
  margin: 0 auto;
  font-size: 14px;
  font-family: "Segoe UI", Helvetica, Arial, sans-serif;
}
/* "Segoe UI",Roboto,Helvetica,Arial,sans-serif; */
.post-list {
  width: 70%;
  margin: 0 auto;
}

.reply-list {
  margin: 16px 0 0 54px;
  background: palegreen;
}

.user-list {
  display: flex;
  flex-direction: column;
  height: 88vh;
}

* {
  box-sizing: border-box;
}

#profile-page {
  @media screen (min-width: 735px) {
    background-color: red;
  }
}
